<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opticon: Optimizely Experiment API Demo</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.2.2/css/foundation.min.css">
    <script src="//cdn.optimizely.com/js/860940042.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.2.2/js/vendor/modernizr.js"></script>
   <style type="text/css">
      .header-row {
        background-color: #111;
      }
      h1 {
        color: #fff;
        text-align: center;
      }
      .img {
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <div class="row header-row">
      <div class="large-12 columns">
        <h1>Welcome to Opticon</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns img">
        <h3>Say hello, Bonsai</h3>
        <img src="https://lh5.googleusercontent.com/UGmHUbQJ23pvcRl7x6CZSwv36pX_o9KWzGN5_Kb8gXBi=w1174-h1224-no" alt="Bonsai" width=350>
      </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.2.2/js/vendor/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.2.2/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
